{% extends "_layout.twig" %}

{% block title %}LaraSlim{% endblock %}

{% block css %}
    <style type="text/css">
        .starter-template {
          padding: 40px 15px;
          text-align: center;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="starter-template">
            <h1>LaraSlim</h1>
            <p class="lead">A microframework with pre-installed enhancements.</p>
        </div>
    </div>

{% endblock %}
