// The main nav styles

.Header
	height 500px
	lost-row flex
	margin 0
	background light-bg

	&__main
		// Main styling

	&__navigation
		background dark-bg
	
	&__links
		list-style-type none
		margin 0
		padding 0
		overflow hidden
		
		& li
			float left
		
			& a:hover
				background-color light-bg

	&--is-nav-link
		display block
		padding 14px 16px
		text-decoration none






		