// Coolors Exported Palette - coolors.co/ed254e-eaf2ef-00a7e1-011936-465362
redCrayola = rgba(237, 37, 78, 1)
antiFlashWhite = rgba(234, 242, 239, 1)
vividCerulean = rgba(0, 167, 225, 1)
maastrichtBlue = rgba(1, 25, 54, 1)
independance = rgba(70, 83, 98, 1)

light-bg = redCrayola
dark-bg = maastrichtBlue