/* This is the grid system for the website. */

/* smartphones, iPhone, portrait 480x320 phones */
// @media (min-width:320px) {}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
// @media (min-width:481px) {}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
// @media (min-width:641px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
// @media (min-width:961px) {}

/* big landscape tablets, laptops, and desktops */
// @media (min-width:1025px) {}

/* hi-res laptops and desktops */
// @media (min-width:1281px) {}

.Wrapper
	lost-center 1140px

.Grid
	margin 8px 0 8px 0

	&--is-1_1
		lost-column 12/12
		background #C0C0C0
		height 50px	

	&--is-2_3
	&--is-8_12
		lost-column 2/3
		background #C0C0C0
		height 50px

	&--is-1_2
	&--is-6_12
		lost-column 6/12
		background #C0C0C0
		height 50px	

	&--is-1_3
	&--is-4_12
		lost-column 4/12
		background #C0C0C0
		height 50px	

	&--is-1_4
	&--is-3_12
		lost-column 3/12
		background #C0C0C0
		height 50px	

	&--is-1_5
		lost-column 2/10
		background #C0C0C0
		height 50px	
	
	&--is-1_6
	&--is-2_12
		lost-column 2/12
		background #C0C0C0
		height 50px	

	&--is-1_7
		lost-column 1/7
		background #C0C0C0
		height 50px	

	&--is-1_8
		lost-column 1/8
		background #C0C0C0
		height 50px	
		
	&--is-1_9
		lost-column 1/9
		background #C0C0C0
		height 50px	
	
	&--is-1_10
		lost-column 1/10
		background #C0C0C0
		height 50px
		
	&--is-1_11
		lost-column 1/11
		background #C0C0C0
		height 50px	

	&--is-1_12
		lost-column 1/12
		background #C0C0C0
		height 50px
		
		// Layout columns
			
	&--is-5_12
		lost-column 5/12
		background #C0C0C0
		height 50px
		
	&--is-7_12
		lost-column 7/12
		background #C0C0C0
		height 50px
		
	&--is-9_12
		lost-column 9/12
		background #C0C0C0
		height 50px
		
	&--is-10_12
		lost-column 10/12
		background #C0C0C0
		height 50px
		
	&--is-11_12
		lost-column 11/12
		background #C0C0C0
		height 50px

	// Push blocks
	&--push-2_3
	&--push-8_12
		lost-offset 8/12
		
	&--push-1_2
	&--push-6_12
		lost-offset 6/12
		
	&--push-1_3
	&--push-4_12
		lost-offset 4/12
		
	&--push-1_4
	&--push-3_12
		lost-offset 3/12
		
	&--push-1_5
		lost-offset 1/5
		
	&--push-1_6
	&--push-2_12
		lost-offset 2/12
	
	&--push-1_7
		lost-offset 1/7
	
	&--push-1_8
		lost-offset 1/8
		
	&--push-1_9
		lost-offset 1/9
		
	&--push-1_10
		lost-offset 1/10
	
	&--push-1_11
		lost-offset 1/11
		
	&--push-1_12
		lost-offset 1/12
		
	// Mobile stuff